/* src/App.css */

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

main {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    box-sizing: border-box;
}
